# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
new_env/

# Flask
instance/
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.venv

# text files
*.txt
*.docx
*.pdf


# Migrations (可选，如果不想提交迁移文件)
# migrations/

